/* .google-map-link {
  height: 75vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.google-student-tutor {
  position: relative;
  top: 100px;
} */
